.app {
    display: grid;
    place-items: center;
    background-color: #bababa;
    height: 130vh;
}

.app_body {
    display: flex;
    height: 85vh;
    background-color: aliceblue;
    width: 85vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.80);
}
